* {
    padding: 0px;
    margin: 5px;
  }
  
  .top {
    text-align: center;
    background: -webkit-linear-gradient(-180deg, black, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .paw {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% {transform: rotate(-30deg); margin-left: 30%;}
    15% {transform: rotate(30deg);}
    30% {transform: rotate(-30deg);}
    50% {transform: rotate(30deg); margin-left: 65%;}
    65% {transform: rotate(-30deg);}
    80% {transform: rotate(30deg);}
    100% {transform: rotate(-30deg); margin-left: 30%;}
  }
  
  body {
    background-color: #6B0504;
  }
  
  header {
    background-color: #E6AF2E;
    padding: 2rem 0rem .5rem 0rem;
    border-radius: 10px;
  }
  
  header > nav {
    display: flex;
    width: 100%;
  }
  
  header > div {
    padding-left: 1rem;
  }
  
  .loginname {
    justify-content: right;
    width: 99%;
    height: 30px;
  }

  .usernav {
    border-bottom: 3px solid black;
    justify-content: right;
    width: 99%;
    padding-bottom: .5rem;
  }
  
  .userul {
    width: fit-content;
    display: flex;
    justify-content: right;
    background-color: #6B0504;
  }
  
  li > a {
    color: #FBFFFE;
    text-decoration: none;
  }
  
  li > a:hover {
    color: #E6AF2E;
    font-weight: bold;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: #3a2ee6;
  }
  
  li {
    list-style-type: none;
    padding: 1rem;
    margin: 0rem 1rem;
  }
  
  .gennav{
    width: fit-content;
    display: flex;
    margin-top: .5rem;
    justify-content: right;
    background-color: #6B0504;
  }
  
  .listnav {
    width: fit-content;
    display: flex;
    background-color: #6B0504;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  article {
    background-color: #e1b95c;
    color: black;
    border-radius: 10px;
    padding: 1rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  
  table{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  
  }
  
  tr {
    margin-left: auto;
    margin-right: auto;
  }
  
  th {
    background-color: #E6AF2E;
    border-radius: 50%;
    padding: 3rem;
  }
  
  .detailcard {
    background-color: #cda853;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin-left: 5%;
    height: max-content;
  }
  
  .container {
    text-align: center;
  }
  
  .images {
    height: 15em;
    width: 15em;
  }
  
  footer {
    color: #FBFFFE;
    text-align: center;
  }